<span class="ui-select-match">
  <li class="ui-select-match-item selectize-search-choice" ng-repeat="$item in $select.selected"
      ng-class="{'selectize-search-choice-focus':$selectMultiple.activeMatchIndex === $index, 'selectize-locked':$select.isLocked(this, $index)}"
      ui-select-sort="$select.selected">
      <span uis-transclude-append></span>
      <a href="javascript:;" class="ui-select-match-close selectize-search-choice-close" ng-click="$selectMultiple.removeChoice($index)" tabindex="-1"></a>
  </li>
</span>
