<span class="ui-select-match">
  <li class="ui-select-match-item select2-search-choice" ng-repeat="$item in $select.selected"
      ng-class="{'ui-select-search-choice-focus':$selectMultiple.activeMatchIndex === $index, 'ui-select-locked':$select.isLocked(this, $index)}"
      ui-select-sort="$select.selected">
      <span uis-transclude-append></span>
      <a href="javascript:;" class="ui-select-match-close ui-select-search-choice-close" ng-click="$selectMultiple.removeChoice($index)" tabindex="-1"></a>
  </li>
</span>
